In [12]:
import pandas as pd
df =pd.DataFrame({
    'sandwich': ['c', 'c', 'c', 'c', 'c', 'c', 'c', 'v', 'v', 'v'],
    'side': ['f', 'f', 'f', 'f', 'f', 's', 's', 'f', 's', 's']
}, index=pd.RangeIndex(1, 11))
df

   sandwich side
1         c    f
2         c    f
3         c    f
4         c    f
5         c    f
6         c    s
7         c    s
8         v    f
9         v    s
10        v    s

In [1]:
import pandas as pd
df =pd.DataFrame({
    'sandwich': list('ğŸ”'*7) + list('ğŸ†'*3),
    'side': list('ğŸŸ'*5) + list('ğŸ¦'*2) + list('ğŸŸ') + list('ğŸ¦'*2)
}, index=pd.RangeIndex(1, 11))
df

   sandwich side
1         ğŸ”    ğŸŸ
2         ğŸ”    ğŸŸ
3         ğŸ”    ğŸŸ
4         ğŸ”    ğŸŸ
5         ğŸ”    ğŸŸ
6         ğŸ”    ğŸ¦
7         ğŸ”    ğŸ¦
8         ğŸ†    ğŸŸ
9         ğŸ†    ğŸ¦
10        ğŸ†    ğŸ¦

In [3]:
df.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>sandwich</th>\n      <th>side</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>1</th>\n      <td>ğŸ”</td>\n      <td>ğŸŸ</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>ğŸ”</td>\n      <td>ğŸŸ</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>ğŸ”</td>\n      <td>ğŸŸ</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>ğŸ”</td>\n      <td>ğŸŸ</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>ğŸ”</td>\n      <td>ğŸŸ</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>ğŸ”</td>\n      <td>ğŸ¦</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>ğŸ”</td>\n      <td>ğŸ¦</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>ğŸ†</td>\n      <td>ğŸŸ</td>\n    </tr>\n    <tr>\n      <th>9</th>\n      <td>ğŸ†</td>\n      <td>ğŸ¦</td>\n    </tr>\n    <tr>\n      <th>10</th>\n      <td>ğŸ†</td>\n      <td>ğŸ¦</td>\n    </tr>\n  </tbody>\n</table>'

In [4]:
s = '<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>sandwich</th>\n      <th>side</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>1</th>\n      <td>ğŸ”</td>\n      <td>ğŸŸ</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>ğŸ”</td>\n      <td>ğŸŸ</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>ğŸ”</td>\n      <td>ğŸŸ</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>ğŸ”</td>\n      <td>ğŸŸ</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>ğŸ”</td>\n      <td>ğŸŸ</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>ğŸ”</td>\n      <td>ğŸ¦</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>ğŸ”</td>\n      <td>ğŸ¦</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>ğŸ†</td>\n      <td>ğŸŸ</td>\n    </tr>\n    <tr>\n      <th>9</th>\n      <td>ğŸ†</td>\n      <td>ğŸ¦</td>\n    </tr>\n    <tr>\n      <th>10</th>\n      <td>ğŸ†</td>\n      <td>ğŸ¦</td>\n    </tr>\n  </tbody>\n</table>'

In [9]:
s.replace('\n', '').replace('\t', '').replace('    ', '').replace('  ', '')

'<table border="1" class="dataframe"><thead><tr style="text-align: right;"><th></th><th>sandwich</th><th>side</th></tr></thead><tbody><tr><th>1</th><td>ğŸ”</td><td>ğŸŸ</td></tr><tr><th>2</th><td>ğŸ”</td><td>ğŸŸ</td></tr><tr><th>3</th><td>ğŸ”</td><td>ğŸŸ</td></tr><tr><th>4</th><td>ğŸ”</td><td>ğŸŸ</td></tr><tr><th>5</th><td>ğŸ”</td><td>ğŸŸ</td></tr><tr><th>6</th><td>ğŸ”</td><td>ğŸ¦</td></tr><tr><th>7</th><td>ğŸ”</td><td>ğŸ¦</td></tr><tr><th>8</th><td>ğŸ†</td><td>ğŸŸ</td></tr><tr><th>9</th><td>ğŸ†</td><td>ğŸ¦</td></tr><tr><th>10</th><td>ğŸ†</td><td>ğŸ¦</td></tr></tbody></table>'

In [40]:
p_c = df[ df['sandwich'] == 'ğŸ”'].shape[0] / df.shape[0]
p_c

0.7

In [50]:
c = set(df[ df['sandwich'] == 'ğŸ”' ].index)
c

{1, 2, 3, 4, 5, 6, 7}

In [23]:
p_fac = df[ (df['sandwich'] == 'c') & (df['side'] == 'f') ].shape[0] / df.shape[0]
p_fac

0.5

In [51]:
cf = set(df[ (df['sandwich'] == 'ğŸ”') & (df['side'] == 'ğŸŸ') ].index)
cf

{1, 2, 3, 4, 5}

In [52]:
c.intersection(cf)

{1, 2, 3, 4, 5}

```
P(A given B) = P(A and B) / P(B)

P(fries given cheeseburger) = P(fries AND cheeseburger) / P(cheeseburger)
```

In [22]:
p_fgc = p_fac / p_c
p_fgc

0.7142857142857143