In [3]:
import pandas as pd
df =pd.DataFrame({
    'product': list('游눌'*2) + list('游눍'*5) + list('游댥'*3),
    'label': list('Y'*7) +  list('N'*3)
}, index=pd.RangeIndex(1, 11))
df

   product label
1        游눌     Y
2        游눌     Y
3        游눍     Y
4        游눍     Y
5        游눍     Y
6        游눍     Y
7        游눍     Y
8        游댥     N
9        游댥     N
10       游댥     N

In [39]:
import pandas as pd
df =pd.DataFrame({
    'sandwich': list('游꼢'*7) + list('游꼕'*3),
    'side': list('游'*5) + list('游꼱'*2) + list('游') + list('游꼱'*2)
}, index=pd.RangeIndex(1, 11))
df

   sandwich side
1         游꼢    游륲n2         游꼢    游륲n3         游꼢    游륲n4         游꼢    游륲n5         游꼢    游륲n6         游꼢    游꼱
7         游꼢    游꼱
8         游꼕    游륲n9         游꼕    游꼱
10        游꼕    游꼱

In [40]:
p_c = df[ df['sandwich'] == '游꼢'].shape[0] / df.shape[0]
p_c

0.7

In [50]:
c = set(df[ df['sandwich'] == '游꼢' ].index)
c

{1, 2, 3, 4, 5, 6, 7}

In [23]:
p_fac = df[ (df['sandwich'] == 'c') & (df['side'] == 'f') ].shape[0] / df.shape[0]
p_fac

0.5

In [51]:
cf = set(df[ (df['sandwich'] == '游꼢') & (df['side'] == '游') ].index)
cf

{1, 2, 3, 4, 5}

In [52]:
c.intersection(cf)

{1, 2, 3, 4, 5}

```
P(A given B) = P(A and B) / P(B)

P(fries given cheeseburger) = P(fries AND cheeseburger) / P(cheeseburger)
```

In [22]:
p_fgc = p_fac / p_c
p_fgc

0.7142857142857143